<h1> Angular Deployment Test</h1>

<label>Year</label>
<select (selectionChange)="onYearChange($event)" id="year_selector" [(value)]="selectedSeason">
    <option *ngFor="let season of validSeasons" [value]="season">
        {{season.year}}
    </option>
</select>
<br>
<p>{{ selectedSeason.year }}</p>

<br><br>

<label>Week</label>
<select (selectionChange)="onWeekChange($event)" id="week_selector" [(value)]="selectedWeekIndex">

    <option *ngFor="let week of validWeeks; let i = index" [value]="i">
        {{week}}
    </option>
    <option *ngIf="selectedSeason.postseason" [value]="-1">
        Postseason
    </option>
</select>
<p>{{ selectedWeekIndex }}</p>
<br>
<p>{{ gamesResponse }}</p>