@import "../variables.scss";

.content-container {
    margin: 50px 100px 50px 100px;
}

.overview-container, .week-dropdown-selector, .games-list-container {
    min-width: 800px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.overview-container {
    margin-bottom: 20px;
}

.week-dropdown-selector {
    margin-bottom: 20px;

    button {
        background-color: $foreground-color;

        &.btn-outline-primary {
            color: #212529;
        }
    }
}

.conference-container {
    margin-bottom: 65px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}