<div class="component-container">
    <h2>{{ title }}</h2>
    <table class="table">
        <colgroup>
            <col class="twenty" />
            <col class="ten" />
            <col class="ten" />
            <col class="twenty" />
            <col class="ten" />
            <col class="ten" />
            <col class="ten" />
            <col class="ten" />
          </colgroup>
        <thead>
            <tr>
                <th scope="col">Away Team</th>
                <th scope="col">Score</th>
                <th scope="col">Score</th>
                <th scope="col">Home Team</th>
                <th scope="col">Spread</th>
                <th scope="col">Pick</th>
                <th scope="col">Points</th>
                <th scope="col">Enemy Points</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of gamesList">
                <td>{{ game.awayTeam }}</td>
                <td>{{ game.awayPoints }}</td>
                <td>{{ game.homePoints }}</td>
                <td>{{ game.homeTeam }}</td>
                <td>{{ game.spread }}</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div>
